.selector-for-some-widget {
    box-sizing: content-box;
}

.card {
    color: rgba(76, 78, 100, 0.87);
    letter-spacing: 0.15px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
