.card-type{
    border: 2px solid #6a6a6a;
    background: #2f3147;
    color: #fff;
}
.sales-percentage{
    color: rgb(9, 201, 9);
}
.card-body{
    display: flex;
    justify-content: space-between;
}
